p {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    background-color: ivory;
}

.page {
    min-height: 100%;
    position: relative;
}

.content {
    padding: 10px;
    padding-bottom: 20px; /* Height of the footer element */
    overflow: hidden;
}

.menu {
    padding: 20px 10px 0px 10px;
    width: 50px;
    float: left;
}

.body {
    margin: 20px 10px 0px 100px;
}

.footer {
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 20px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 2px;
}

table {
    width: 30%;
}

th {
    height: 30px;
    background-color: lightsteelblue;
}

td {
    text-align: left;
    height: 25px;
    vertical-align: bottom;
    padding: 10px;
}

span.error {
    color: red;
    font-size: 12pt;
}
